

<div id='email_children'>
  <% f.fields_for :emails do |email_form| %>
    <%= render :partial => 'email', :locals => { :f => email_form } %>
  <% end %>
</div>

<p>
  <%= add_child_link 'Add Email', 'email', f %>
</p>

<div id='phone_number_children'>
  <% f.fields_for :phone_numbers do |phone_number_form| %>
    <%= render :partial => 'phone_number', :locals => { :f => phone_number_form } %>
  <% end %>
</div>

<p>
  <%= add_child_link 'Add Phone_Number', 'phone_number', f %>
</p>


<div id='url_children'>
  <% f.fields_for :urls do |url_form| %>
    <%= render :partial => 'url', :locals => { :f => url_form } %>
  <% end %>
</div>

<p>
  <%= add_child_link 'Add Url', 'url', f %>
</p>


