<h1>Editing contact_info</h1>

<% form_for(@contact_info) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </p>
  <p>
    <%= f.label :value_format %><br />
    <%= f.text_field :value_format %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @contact_info %> |
<%= link_to 'Back', contact_infos_path %>