<h1>Listing contact_infos</h1>

<table>
  <tr>
    <th>Contactable type</th>
  </tr>

<% @contact_infos.each do |contact_info| %>
  <tr>
    <td><%=h contact_info.contactable_type %></td>
    <td><%= link_to 'Show', contact_info %></td>
    <td><%= link_to 'Edit', edit_contact_info_path(contact_info) %></td>
    <td><%= link_to 'Destroy', contact_info, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New contact_info', new_contact_info_path %>