<p>
  <b>Value:</b>
  <%=h @contact_info.value %>
</p>

<p>
  <b>Value format:</b>
  <%=h @contact_info.value_format %>
</p>

<p>
  <b>Description:</b>
  <%=h @contact_info.description %>
</p>


<%= link_to 'Edit', edit_contact_info_path(@contact_info) %> |
<%= link_to 'Back', contact_infos_path %>