<div id="civil_status">
  <%= civil_status.family_name %>
  <%= civil_status.name %>
  <% #civil_status.age %>
  <%= civil_status.birthday %>
  <%= civil_status.hometown %>
  <%= civil_status.current_city %>
  <%= civil_status.gender %>
  <%= civil_status.status %>
  <%= link_to 'Edit', edit_civil_status_path(civil_status) %>
  <%= link_to 'Destroy', civil_status, :confirm => 'Are you sure?', :method => :delete %>
  </div>

<div id="cv_manage">  
  <%= link_to 'CV disponible', civil_status_cvs_path(@civil_status) %>
  <%= link_to 'Create_CV', new_civil_status_cv_path(@civil_status)%>
</div>
