- unless civil_status.blank?
  #civil_status
    - user = civil_status.user
    - @civil_status = user.civil_status
    = civil_status.family_name
    = civil_status.name
    %p
      = civil_status.birthday
      = check_age
      = civil_status.hometown
    %p
      = civil_status.current_city
      = civil_status.gender
      = civil_status.status
    %p
      = mail_to civil_status.user.email
      = render civil_status.contact_infos
    .photo{:align => ""}
      = image_tag fleximage_path(@civil_status)
- else
  = link_to 'New civil_status', new_civil_status_path
#link
  - if current_user && current_user.civil_status == civil_status
    = link_to 'Edit', edit_civil_status_path(civil_status)
    = link_to 'Destroy', civil_status, :confirm => 'Are you sure?', :method => :delete
    = link_to 'CV disponible', civil_status_cvs_path(@civil_status)
    = link_to 'Create_CV', new_civil_status_cv_path(@civil_status)
