<%= f.error_messages %>

<p>
  <%= f.label :family_name %><br />
  <%= f.text_field :family_name %>
</p>

<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :age %><br />
  <%= f.text_field :age %>
</p>

<p>
  <%= f.label :birthday %><br />
  <%= f.date_select :birthday %>
</p>

<p>
  <%= f.label :hometown %><br />
  <%= f.text_field :hometown %>
</p>

<p>
  <%= f.label :current_city %><br />
  <%= f.text_field :current_city %>
</p>

<p>
  <%= f.label :gender %><br />
  <%= f.text_field :gender %>
</p>

<p>
  <%= f.label :status %><br />
  <%= f.text_field :status %>
</p>

<div id='cv_children'>
  <% f.fields_for :cvs do |cv_form| %>
    <%= render :partial => 'cv', :locals => { :f => cv_form } %>
  <% end %>
</div>

<p>
  <%= add_child_link 'Add Cv', 'cv', f %>
</p>
