<p>
  <%= form.label :family_name %><br />
  <%= form.text_field :family_name %>
</p>
<p>
  <%= form.label :name %><br />
  <%= form.text_field :name %>
</p>
<p>
  <%= form.label :age %><br />
  <%= form.text_field :age %>
</p>
<p>
  <%= form.label :birthday %><br />
  <%= form.date_select :birthday %>
</p>
<p>
  <%= form.label :hometown %><br />
  <%= form.text_field :hometown %>
</p>
<p>
  <%= form.label :current_city %><br />
  <%= form.text_field :current_city %>
</p>
<p>
  <%= form.label :gender %><br />
  <%= form.select :gender, CivilStatus::Genders %>
</p>
<p>
  <%= form.label :status %><br />
  <%= form.select :status, CivilStatus::Statuses %>
</p>
<p>
  <%- contact_infos_fields form -%>
</p>

  
  
