<% title  "Edit civil status "%>
<% form_for(@civil_status) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'CV disponible', new_civil_status_cv_path(@civil_status) %>
<%= link_to 'Show', @civil_status %> |
<%= link_to 'Back', civil_statuses_path %>
