<div id ="title">
  <%= @title = "Listing Users"%>
</div>  
<% @civil_statuses.each do |civil_status| %>
  <div id="civil_status">
    <%=h civil_status.family_name %>
    <%=h civil_status.name %>
    <%=h civil_status.age %>
    <%=h civil_status.birthday %>
    <%=h civil_status.hometown %>
    <%=h civil_status.current_city %>
    <%=h civil_status.gender %>
    <%=h civil_status.status %>
    <%= link_to 'Show', civil_status %>
    <%= link_to 'Edit', edit_civil_status_path(civil_status) %>
    <%= link_to 'Destroy', civil_status, :confirm => 'Are you sure?', :method => :delete %>
  </div>
<% end %>
<div id="cvs"> 
<h4>  
  <%= "Toutes les CVs"%>
</h4>  
  <% @cv_all.each do |cv| %>
    <p>
      <%=h cv.title %>
      <%=h cv.summary %>
      <%= link_to 'Show', cv %>
    </p>
  <% end %>
</div> 


<%= link_to 'New civil_status', new_civil_status_path %>