%p
  = f.input :name, :label => "Dénomination"
%p
  = f.input :headquarters, :label => "Siège"
%p
  = f.input:registration_number, :label => "Nif"
  %br/
%p
  = f.input :legal_form, :label => "Statut"
  %br/
%p
  = f.input :activity, :label => "Activité"
%p
  = f.input :sector, :label => "Secteur"
- if current_user.roles == "admin"
  %p
    = f.input :validated, :as => :radio, :label => "Validation"
