-title "Editing compagny"
- semantic_form_for(@compagny) do |f|
  = f.error_messages
  %p
    = f.label :name
    %br/
    = f.text_field :name
  %p
    = f.label :headquarters
    %br/
    = f.text_field :headquarters
  %p
    = f.label :registration_number
    %br/
    = f.text_field :registration_number
  %p
    = f.label :legal_form
    %br/
    = f.text_field :legal_form
  %p
    = f.label :activity
    %br/
    = f.text_field :activity
  %p
    = f.label :sector
    %br/
    = f.text_field :sector
  %p
    = f.submit 'Update'
= link_to 'Show', @compagny
|
\#{link_to 'Back', compagny_path(@compagny)}
