<%- if !current_user.blank? && current_user.roles == "admin" %>
  <% @compagnies.each do |compagny| %>
    <%=h compagny.name %>
    <%=h compagny.headquarters %>
    <%=h compagny.registration_number %>
    <%=h compagny.legal_form %>
    <%=h compagny.activity %>
    <%=h compagny.sector %>
    <%= link_to 'Show', compagny %>
    <%= link_to 'Edit', edit_compagny_path(compagny) %>
    <%= link_to 'Destroy', compagny, :confirm => 'Are you sure?', :method => :delete %>
  <% end %>
<% end %>

 <% title "All Compagny referenced" %>
  <% @compagnies.each do |compagny|  %>
    <% if compagny.validated == "true"%>
    <p>
      <%= compagny.name %>
      <%= compagny.headquarters %>  
      <%= link_to " voir ses offres ", compagny_jobs_path(compagny)%>  
    </p>  
    <% end %>
  <% end %>


<%- if current_user   && current_user.roles == "compagny"%>
  <% @compagny = current_user.compagny %>
  <% unless @compagny.blank? %>
    <%= link_to "compagny profil", compagny_path(@compagny)%>
  <% else %>
    <%= link_to "editer mon profil", new_compagny_path%>
  <% end %>
<% end %>
 
 
