<%- if is_admin? %>
  <% @compagnies.each do |compagny| %>
    <%=h compagny.name %>
    <%=h compagny.headquarters %>
    <%=h compagny.registration_number %>
    <%=h compagny.legal_form %>
    <%=h compagny.activity %>
    <%=h compagny.sector %>
    <%= link_to 'Show', compagny %>
    <%= link_to 'Edit', edit_compagny_path(compagny) %>
    <%= link_to 'Destroy', compagny, :confirm => 'Are you sure?', :method => :delete %>
  <% end %>
<% end %>

<%- if current_user   && current_user.roles == "compagny"%>
  <% title  "Compte société " %>
  <%- unless current_user.compagny.blank? %>
    <%= render @compagny %>
  <% else %>
   <%= link_to 'Create a profil for compagny', new_compagny_path if permitted_to? :create %>
 <% end %>
<% else %>
  <% title "All Compagny referenced" %>
  <% @compagnies.each do |compagny|  %>
    <p>
      <%= compagny.name %>
      <%= compagny.headquarters %>  
      <%= link_to " voir ses offres ", compagny_jobs_path(compagny)%>  
    </p>  
  <% end %>
<% end %>
