- title "All Compagny referenced"
- @compagnies.each do |compagny|
  - if compagny.validated == true
    %p
      = compagny.name
      = compagny.headquarters
      = link_to " voir  offres ", compagny_jobs_path(compagny)
- if !current_user.blank? && current_user.roles == "admin"
  - @compagnies.each do |compagny|
    = h compagny.name
    = h compagny.headquarters
    = h compagny.registration_number
    = h compagny.legal_form
    = h compagny.activity
    = h compagny.sector
    = link_to 'Show', compagny
    = link_to 'Edit', edit_compagny_path(compagny)
    = link_to 'Destroy', compagny, :confirm => 'Are you sure?', :method => :delete

