<h1>Listing compagnies</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Headquaters</th>
    <th>Registration number</th>
    <th>Legal form</th>
    <th>Activity</th>
    <th>Sector</th>
  </tr>

<% @compagnies.each do |compagny| %>
  <tr>
    <td><%=h compagny.name %></td>
    <td><%=h compagny.headquaters %></td>
    <td><%=h compagny.registration_number %></td>
    <td><%=h compagny.legal_form %></td>
    <td><%=h compagny.activity %></td>
    <td><%=h compagny.sector %></td>
    <td><%= link_to 'Show', compagny %></td>
    <td><%= link_to 'Edit', edit_compagny_path(compagny) %></td>
    <td><%= link_to 'Destroy', compagny, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New compagny', new_compagny_path %>