%h1 
  -title "Créer le profil"
- semantic_form_for(@compagny) do |f|
  = f.error_messages
  = render :partial => 'form', :locals => { :f => f }
  %p
    = f.submit 'Create'
= link_to 'add_sheets', new_job_sheet_path
= link_to 'Back', compagnies_path
