<p>
  <b>Name:</b>
  <%=h @firm.name %>
</p>

<p>
  <b>Permalink:</b>
  <%=h @firm.permalink %>
</p>

<p>
  <b>Baseline:</b>
  <%=h @firm.baseline %>
</p>

<p>
  <b>Description:</b>
  <%=h @firm.description %>
</p>

<% content_tag :div, :id => "offerings" do %>
  <%= link_to 'New Offering', new_firm_offering_path(@firm) %>
  <%= render @firm.offerings %>
<% end %>


<%= link_to 'Edit', edit_firm_path(@firm) %> |
<%= link_to 'Back', firms_path %>