
  <p>
    <%= form.label :speciality %><br />
    <%= form.text_field :speciality %>
  </p>
  <p>
    <%= form.label :details %><br />
    <%= form.text_area :details %>
  </p>
  <p>
    <%= form.label :started_on_year %><br />
    <%= form.date_select :started_on_year %>
  </p>
  <p>
    <%= form.label :study_duration %><br />
    <%= form.text_field :study_duration %>
  </p>
  <p>
    <%= form.label :graduation %><br />
    <%= form.text_field :graduation %>
  </p>
