<p>
  <b>Speciality:</b>
  <%=h @education_information.speciality %>
</p>

<p>
  <b>Details:</b>
  <%=h @education_information.details %>
</p>

<p>
  <b>Started on year:</b>
  <%=h @education_information.started_on_year %>
</p>

<p>
  <b>Study duration:</b>
  <%=h @education_information.study_duration %>
</p>

<p>
  <b>Graduation:</b>
  <%=h @education_information.graduation %>
</p>

<p>
  <b>Comment:</b>
  <%=h @education_information.comment %>
</p>

<p>
  <b>Permalink:</b>
  <%=h @education_information.permalink %>
</p>

<p>
  <b>Domain:</b>
  <%=h @education_information.domain %>
</p>

<p>
  <b>School:</b>
  <%=h @education_information.school %>
</p>


<%= link_to 'Edit', edit_education_information_path(@education_information) %> |
<%= link_to 'Back', education_informations_path %>