<div class="experiences">
  
 <p>
    <%= f.label :office_name %><br />
    <%= f.text_field :office_name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :society_name %><br />
    <%= f.text_field :society_name %>
  </p>
  <p>
    <%= f.label :period %><br />
    <%= f.text_field :period %>
  </p>
  <p>
    <%= f.label :begin_at %><br />
    <%= f.date_select :begin_at %>
  </p>
 
  <% unless f.object.new_record? %>
      <!-- For existing records we add a checkbox to be able to delete records. -->
      <%= f.label :_delete, "Remove:" %>
      <%= f.check_box :_delete %>
  <% end %>
</div>  
