  <p>
    <%= form.label :firstname %><br />
    <%= form.text_field :firstname %>
  </p>
  <p>
    <%= form.label :lastname %><br />
    <%= form.text_field :lastname %>
  </p>
  <p>
    <%= form.label :permalink %><br />
    <%= form.text_field :permalink %>
  </p>
  <p>
    <%= form.label :age %><br />
    <%= form.text_field :age %>
  </p>
  <p>
    <%= form.label :description %><br />
    <%= form.text_area :description %>
  </p>
  <p>
    <%= form.label :status %><br />
    <%= form.text_field :status %>
  </p>
  <p>
    <%= form.label :sex %><br />
    <%= form.text_field :sex %>
  </p>
  
  <%= nested_fields_for :education_informations, form %>
  <%= nested_fields_for :experiences, form %>
  <%= nested_fields_for :skills, form %>
  <%= nested_fields_for :other_infos, form %>
 
