
<p>
    <%= form.label :firstname %><br />
    <%= form.text_field :firstname %>
  </p>
  <p>
    <%= form.label :lastname %><br />
    <%= form.text_field :lastname %>
  </p>
  <p>
    <%= form.label :age %><br />
        <%= options = [["you have  .... ", ""]] + Profile::AGE 
        select("profile", "age", options) %>
    </p>
  <p>
    <%= form .label :description %><br />
    <%= form.text_area :description %>
  </p>
  <p>
    <%= form.label :status %><br />
    <%= options = [["you are  ...", ""]] + Profile::STATUS 
        select("profile", "status", options) %>

  </p>
  <p>
    <%= form.label :sex %><br />
    <%= options = [["you are a ...", ""]] + Profile::SEX 
        select("profile", "sex", options) %>
  </p>
<%= nested_fields_for :education_informations, form %>
<%= nested_fields_for :experiences, form %>
<%= nested_fields_for :skills, form %>
<%= nested_fields_for :other_infos, form %>


