<div class ="profile">
  <% div_for profile do %>
  <%- content_tag :div, :class => "contact_informations" do -%>
    <%= render profile.contact_informations %>
  <%- end unless profile.contact_informations.empty? -%>
   <%= link_to t(:edit), edit_profile_path(profile) %> 
  <%- content_tag :div, :class => "education_informations" do -%>
    <%= render profile.education_informations %>
  <%- end unless profile.education_informations.empty? -%>
  
  <%- content_tag :div, :class => "other_infos" do -%>
    <%= render profile.other_infos %>
    <%- end unless profile.other_infos.empty? -%> 
    
    <%- content_tag :div, :class => "experiences" do -%>
    <%= render profile.experiences %>
    <%- end unless profile.experiences.empty? -%> 
    
    <%- content_tag :div, :class => "skills" do -%>
    <%= render profile.skills %>
  <%- end unless profile.skills.empty? -%>
  
  <%- content_tag :div, :class => "editors links" do -%>
      <%= delete_link profile %>
  <% end -%>
 <% end-%>

</div> 

