<div class="skills">
 <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :level %><br />
    <%= f.text_field :level %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
 
 <% unless f.object.new_record? %>
      <!-- For existing records we add a checkbox to be able to delete records. -->
      <%= f.label :_delete, "Remove:" %>
      <%= f.check_box :_delete %>
    <% end %>

</div>
