<p>
  <b>Firstname:</b>
  <%=h @profile.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%=h @profile.lastname %>
</p>
<p>
  <b>Age:</b>
  <%=h @profile.age %>
</p>

<p>
  <b>Description:</b>
  <%=h @profile.description %>
</p>

<p>
  <b>Status:</b>
  <%=h @profile.status %>
</p>

<p>
  <b>Gender:</b>
  <%=h @profile.sex %>
</p>
<h2> Contacts</h2>
<p>
<% @profile.contact_informations.each do |contact| %>
    <li><%=h contact.localisation %> </li>
    <li><%=h contact.value %> </li>
<% end %>
</p>


<div class="Education_informations">
 <h2> Formation </h2>  
 <% content_tag :div, :id => "education_informations" do %>
  <%= render @profile.education_informations %>
  <% end unless @profile.education_informations.empty? %>
 <%= link_to 'Nouvelle formation suivie', new_profile_education_information_path(@profile) %>

</div>

<div>
  <h2> Experiences </h2>  
  <% content_tag :div, :id => "experiences" do %>
    <%= render @profile.experiences %>
    <% end unless @profile.experiences.empty? %>
    <%= link_to 'Nouvelle experience', new_profile_experience_path(@profile) %>

</div>

<div>
  <h2> Connaissances </h2>
  <% content_tag :div, :id => "skills" do %>
    <%= render @profile.skills %>
    <% end unless @profile.skills.empty? %>
    <%= link_to 'Nouvelle connaissance', new_profile_skill_path(@profile) %>

</div>

<div>
  <h2> Divers </h2>
  <% content_tag :div, :id => "other_infos" do %>
    <%= render @profile.other_infos %>
    <% end unless @profile.other_infos.empty? %>
    <%= link_to 'Nouveau info', new_profile_other_info_path(@profile) %>
 
 </div>  
</p>
<p> 
 <td> <%= link_to 'Edit', edit_profile_path(@profile) %></td>
</p>
