<p>
  <b>Family name:</b>
  <%=h @profile.family_name %>
</p>

<p>
  <b>Name:</b>
  <%=h @profile.name %>
</p>

<p>
  <b>Town:</b>
  <%=h @profile.town %>
</p>

<p>
  <b>Sex:</b>
  <%=h @profile.sex %>
</p>

<p>
  <b>Birthday:</b>
  <%=h @profile.birthday %>
</p>

<% content_tag :div, :id => "qualifications" do %>
  <%= link_to 'New qualification', new_profile_qualifications_path(@profile) %>
  <%= render @profile.qualifications %>
<% end %>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>