<p>
  <b>Firstname:</b>
  <%=h @profile.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%=h @profile.lastname %>
</p>
<p>
  <b>Age:</b>
  <%=h @profile.age %>
</p>

<p>
  <b>Description:</b>
  <%=h @profile.description %>
</p>

<p>
  <b>Status:</b>
  <%=h @profile.status %>
</p>

<p>
  <b>Sex:</b>
  <%=h @profile.sex %>
</p>

<% content_tag :div, :id => "education_informations" do %>
  <%= render @profile.education_informations %>
<% end unless @profile.education_informations.empty? %>

<% content_tag :div, :id => "experiences" do %>
  <%= render @profile.experiences %>
<% end unless @profile.experiences.empty? %>

<% content_tag :div, :id => "skills" do %>
  <%= render @profile.skills %>
<% end unless @profile.skills.empty? %>

<% content_tag :div, :id => "other_infos" do %>
  <%= render @profile.other_infos %>
<% end unless @profile.other_infos.empty? %>

</p>