<p>
  <%= form.label :title %><br />
  <%= form.text_field :title %>
</p>
<p>
  <%= form.label :description %><br />
  <%= form.text_area :description %>
</p>
<p>
  <%= form.label :on_line %><br />
  <%= form.datetime_select :on_line %>
</p>
<p>
  <%= form.label :dead_line %><br />
  <%= form.datetime_select :dead_line %>
</p>

<%= nested_fields_for :activities, form %>
<%= nested_fields_for :functions, form %>
<%= nested_fields_for :contracts, form %>
<%= nested_fields_for :localisations, form %>