<h1>Editing offering</h1>

<% form_for(@offering) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :ref %><br />
    <%= f.text_field :ref %>
  </p>
  <p>
    <%= f.label :object %><br />
    <%= f.text_field :object %>
  </p>
  <p>
    <%= f.label :conditions %><br />
    <%= f.text_area :conditions %>
  </p>
  <p>
    <%= f.label :dead_line %><br />
    <%= f.datetime_select :dead_line %>
  </p>
  <p>
    <%= f.label :society %><br />
    <%= f.text_field :society %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @offering %> |
<%= link_to 'Back', offerings_path %>