<p>
  <b>Title:</b>
  <%=h @offering.title %>
</p>

<p>
  <b>Permalink:</b>
  <%=h @offering.permalink %>
</p>

<p>
  <b>Description:</b>
  <%=h @offering.description %>
</p>

<p>
  <b>On line:</b>
  <%=h @offering.on_line %>
</p>

<p>
  <b>Dead line:</b>
  <%=h @offering.dead_line %>
</p>
<p>
  <b>Firm:</b>
  <%=h @offering.firm %>
</p>


<%= link_to 'Edit', edit_offering_path(@offering) %> |
<%= link_to 'Back', offerings_path %>