<p>
  <b>Ref:</b>
  <%=h @offering.ref %>
</p>

<p>
  <b>Object:</b>
  <%=h @offering.object %>
</p>

<p>
  <b>Conditions:</b>
  <%=h @offering.conditions %>
</p>

<p>
  <b>Dead line:</b>
  <%=h @offering.dead_line %>
</p>

<p>
  <b>Society:</b>
  <%=h @offering.society %>
</p>


<%= link_to 'Edit', edit_offering_path(@offering) %> |
<%= link_to 'Back', offerings_path %>