%h1 Listing contracts
%table
  %tr
    %th Name
  - @contracts.each do |contract|
  %tr
    %td= h contract.name
    %td= link_to 'Show', contract
    %td= link_to 'Edit', edit_contract_path(contract)
    %td= link_to 'Destroy', contract, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New contract', new_contract_path
