<h1>Listing other_skills</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>

<% @other_skills.each do |other_skill| %>
  <tr>
    <td><%=h other_skill.title %></td>
    <td><%=h other_skill.description %></td>
    <td><%= link_to 'Show', other_skill %></td>
    <td><%= link_to 'Edit', edit_other_skill_path(other_skill) %></td>
    <td><%= link_to 'Destroy', other_skill, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New other_skill', new_other_skill_path %>