<h1>New application</h1>

<% semantic_form_for([@application.job, @application]) do |f| %>
  <%= f.error_messages %>

  <p>
  <% unless current_user.civil_status.blank? %>
    <%= f.collection_select(:cv_id, @cvs, :id, :title, params  ) %><br />  
  </p>
  
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
  <% end %>
  
  <%= link_to "Back to job", job_path(@application.job)%>
<% end %>

