<p>
  <b>Job:</b>
  <%=h @application.job.ref %>
</p>

<p>
  <b>Cv:</b>
  <%=h @application.cv %>
</p>

<p>
  <b>Title:</b>
  <%=h @application.title %>
</p>


<%= link_to 'Edit', edit_job_application_path(@job, @application) %> |
<%= link_to 'Back', jobs_path %>