<h1>Editing qualification</h1>

<% form_for(@qualifiacation) do |f| %>
  <%= f.error_messages %>
  <%= render f %>
   <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @contact_info %> |
<%= link_to 'Back', contact_infos_path %>