<h1>Listing qualifications</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Institute</th>
    <th>Duration</th>
    <th>Start on</th>
    <th>End on</th>
  </tr>

<% @qualifications.each do |qualification| %>
  <tr>
    <td><%=h qualification.title %></td>
    <td><%=h qualification.description %></td>
    <td><%=h qualification.institute %></td>
    <td><%=h qualification.duration %></td>
    <td><%=h qualification.start_on %></td>
    <td><%=h qualification.end_on %></td>
    <td><%= link_to 'Show', qualification %></td>
    <td><%= link_to 'Edit', edit_qualification_path(qualification) %></td>
    <td><%= link_to 'Destroy', qualification, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New qualification', new_qualification_path %>