<p>
  <b>Name:</b>
  <%=h @qualification.name %>
</p>

<p>
  <b>School:</b>
  <%=h @qualification.school %>
</p>

<p>
  <b>Obtain at:</b>
  <%=h @qualification.obtain_at %>
</p>

<p>
  <b>Study duration:</b>
  <%=h @qualification.study_duration %>
</p>

<p>
  <b>Comment:</b>
  <%=h @qualification.comment %>
</p>


<%= link_to 'Edit', edit_qualification_path(@qualification) %> |
<%= link_to 'Back', qualifications_path %>