<p>
  <%= f.label :ref %><br />
  <%= f.text_field :ref %>
</p>
<div class="functions">
  <% params = { :f => f, :default => "N/A" } %>
  <%= render :partial => 'functions/select', :locals => params %>
</div>
<div class="contracts">
  <% params = { :f => f, :default => "N/A" } %>
  <%= render :partial => 'contracts/select', :locals => params %>
</div>
<div class="localisations">
  <% params = { :f => f, :default => "N/A" } %>
  <%= render :partial => 'localisations/select', :locals => params %>
</div>
<p>
  <%= f.input :description %>
</p>
<p>
  <%= f.input :attribution %>
</p>
<p>
  <%= f.input :profile %>
</p>
<p>
  <%= f.input :folder %>
</p>
<p>
  <%= f.label :dead_line %><br />
  <%= f.datetime_select :dead_line, :order => [ :day, :month, :year] %>
</p>
