%p
  =f.input :job_title, :label => "Titre de l'offre'"
%p
  = f.input :description, :label => "Description de l'offre", :input_html => {:cols => 50, :rows => '3'}
%p
  = f.input :ref, :label => "ref"
.functions
  - params = { :f => f, :default => "N/A" }
  = render :partial => 'functions/select', :locals => params
.contracts
  - params = { :f => f, :default => "N/A" }
  = render :partial => 'contracts/select', :locals => params
.localisations
  - params = { :f => f, :default => "N/A" }
  = render :partial => 'localisations/select', :locals => params
%p
  = f.input :attribution, :label => "Mission", :input_html => {:cols => 50, :rows => '3'}
%p
  = f.input :profile, :label => "Profil", :input_html => {:cols => 50, :rows => '3'}
%p
  = f.input :folder, :label => "Dossier de candidature", :input_html => {:cols => 50, :rows => '3'}
%p
  = f.input :dead_line, :label => "Dead line de l'offre:", :order => [ :day, :month, :year]
%p
  = f.input :published, :as => :radio
