<h1>Listing jobs</h1>
<% @jobs.each do |job|%>
  <p>
    <%= job.function.name %>
    <%= link_to 'show', job_path(job)  %>
    <%= link_to 'Edit', edit_job_path(job) if permitted_to?:update %>
    <%= link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete if permitted_to?:delete %>
 </p>  
<% end %>
<%= link_to 'New job', new_job_path if permitted_to?:create %>
