<h1>Listing jobs</h1>
<% @jobs.each do |job|%>
  <p>
  <% unless !job.published %>
    <%= job.function.name %>
    <%= link_to 'show', job_path(job)  %>
    <%- if current_user && current_user.roles == "company" && belongs_to_compagny?(job)%>
      <%= link_to 'Edit', edit_job_path(job) if permitted_to?:update %>
      <%= link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete if permitted_to?:delete %>
      <%= link_to 'Back', compagny_path(job.compagny) %>
    <% end %>     
  <% end %>
  <% if current_user && current_user.roles == "compagny" && !job.published && belongs_to_compagny?(job)%>
    <%= job.function.name %>
    <%= link_to 'show', job_path(job)  %>
     <%= link_to 'Edit', edit_job_path(job) if permitted_to?:update %>
      <%= link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete if permitted_to?:delete %>
  <% end %>
  </p>  
<% end %>
<%= link_to 'New job', new_compagny_job_path(current_user.compagny) if permitted_to?:create %>
<%= link_to 'Back to compagny', compagnies_path %>

