<div class ="main">
  <p align = "center">
    <b>Ref:</b><%=h @job.ref %>
  </p>
  <p align ="center">
  <%= "la societe...." %>
  <% unless @job.function.blank? %>
    <%= @job.function.name  %>   " un poste basé à: "
  <% end %>
  <% unless @job.localisation.blank? %>
    <%= @job.localisation.name %> 
  <% end %>  
  </p>
  <% if @job.contract.blank? %>
    <p>Le type de contrat sera à déterminer lors de l'entretien</p>
  <% else %>
    <p>
      <b>Contract:</b>
      <%= @job.contract.name %>
    </p>
  <% end %>
  <p align="justify">
    <strong><u>Description du poste:</u></strong><br />
    <%= @job.description %>
  </p>
  <p align="justify">
    <strong><u>Attribution:</u></strong><br />
    <%= @job.attribution %>
  </p>
  <p align="justify">
    <strong><u>Profil requis:</u></strong><br />
    <%= @job.profile %>
  </p>
  <p align="justify">
    <b>Les dossiers sont à addresser à:</b><br/>
    <%= @job.folder %>
  </p>
  <p align="center">
    Tous les dossiers devront être reçus avant le:&nbsp;<%= @job.dead_line %>
  </p>
</div>
<% @compagny = @job.compagny %>
<%- if current_user && belongs_to_compagny?(@job) %>
  <%= link_to 'Edit', edit_compagny_job_path(@compagny,@job) if permitted_to?:update  %> 
<% end %>  
<%= link_to 'Back', compagny_jobs_path(@compagny) %>