.job
  %b 
    = @job.job_title
  %p
    %b Ref:
    = h @job.ref
  %p
    = "la societe...." + @job.compagny.name
  - unless @job.function.blank?
    = @job.function.name
    " un poste basé à: "

  - unless @job.localisation.blank?
    = @job.localisation.name

  %p
  - unless @job.contract.blank?
    = @job.contract.name
  - else
    = "Le type de contrat sera à déterminer lors de l'entretien"
    %p 
      = @job.description
  %p
    = @job.attribution
  %p 
    = @job.profile    
  %p
    = @job.folder

  Tous les dossiers devront être reçus avant le:&nbsp;#{@job.dead_line}
  - @compagny = @job.compagny
  - if current_user && belongs_to_compagny?(@job)
    = link_to 'Edit', edit_compagny_job_path(@compagny,@job) if permitted_to?:update
    = link_to 'Apply result', job_applications_path(@job)
  -# link_to 'Back_to_compagny', compagny_jobs_path(@compagny)
  = link_to 'Back_to_jobs', jobs_path
  -if current_user && current_user.roles == "compagny" && belongs_to_compagny?(@job) 
    = link_to 'candidature', job_applications_path(@job)
  - if current_user && current_user.roles == "member"
    = link_to 'Apply to job ', new_job_apply_path(@job)
  - else
    = "Pour envoyer une candidature pour cette offre, Identifiez vous!!"
    = link_to 'login', login_url
