<<<<<<< HEAD:app/views/languages/_form.html.erb
<p>
  <%= form.label :title %><br />
  <%= form.text_field :title %>
</p>

  <p>
    <%= form.label :level %><br />
     <%= options = [["level  .... ", ""]] + Language::LEVEL 
        select("language", "level", options) %> 
    </p>
   
  <p>
    <%= form.label :comment %><br />
    <%= form.text_field :comment%>
 </p>

 

