<p>
  <b>Name:</b>
  <%=h @language.name %>
</p>

<p>
  <b>Level:</b>
  <%=h @language.level %>
</p>

<p>
  <b>Comment:</b>
  <%=h @language.comment %>
</p>


<%= link_to 'Edit', edit_language_path(@language) %> |
<%= link_to 'Back', languages_path %>