<p>
  <b>Title:</b>
  <%=h @language.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @language.description %>
</p>

<p>
  <b>Level:</b>
  <%=h @language.level %>
</p>

<p>

<%= link_to 'Edit', edit_language_path(@language) %> |
<%= link_to 'Back', languages_path %>