<h1>Editing user: <%= h @userp.username%></h1>

<% form_for(@userp) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :role %><br />
    <%= f.select :role, (controller.authorization_engine.roles) %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', users_path %>
