<h1>Editing contact_information</h1>

<% form_for(@contact_information) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :contactable_id %><br />
    <%= f.text_field :contactable_id %>
  </p>
  <p>
    <%= f.label :contactable_type %><br />
    <%= f.text_field :contactable_type %>
  </p>
  <p>
    <%= f.label :value_format %><br />
    <%= f.text_field :value_format %>
  </p>
  <p>
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @contact_information %> |
<%= link_to 'Back', contact_informations_path %>