  <p>
    <%= form.label :title %><br />
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :name %><br />
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :level %><br />
    <%= form.text_field :level %>
  </p>
  <p>
    <%= form.label :description %><br />
    <%= form.text_area :description %>
  </p>
  <p>
    <%= form.submit 'Create' %>
  </p>
