<div id="link home">
  <%= link_to "home", root_path %>
</div>
<div id="link_authenticate">
<% if current_user %>
  <%= link_to "Edit Account", edit_user_path(:current) %>|
  <%= link_to "logout", logout_path %>
<% else %>
  <%= link_to "Register", new_user_path %> |
  <%= link_to "Login", login_path %>
<% end %>
</div>
<div id ="user">
  <%- unless current_user.blank? %> 
    <%= "logged in as: " + current_user.username %>
    <%= "role: " + current_user.role %>
  <% end %>
</div>
<%= link_to "civil-status", civil_statuses_path %>
=======
<%= link_to "civil-status", civil_statuses_path %> | <%= link_to "cvs", cvs_path %> 
>>>>>>> master:app/views/shared/_navigation.html.erb
 <%= link_to "compagnies", compagnies_path %>
