#connected
  = link_to "home", root_path
  -if current_user
    = link_to "editer mon compte", edit_user_path(current_user) 
    = link_to "logout", logout_path
    %p
      = "logged in as: " + current_user.username 
      (#{current_user.role_symbols.map(&:to_s) * ','}) 
      \#{current_user.email}
  -else
    = link_to "Register", new_user_path  
    = link_to "Login", login_path

#member
-if current_user && current_user.roles == "member" && !current_user.civil_status.blank?
  = link_to "Mes CV", civil_status_cvs_path(@civil_status)
  = link_to "Créer un CV", new_civil_status_cv_path(@civil_status)
  = link_to "Editer mon profil", edit_civil_status_path(current_user.civil_status)
  = link_to "Retour sur mon profil", civil_status_path(current_user.civil_status)

#compagny
-if current_user && current_user.roles ==  "compagny" && !current_user.compagny.blank?
  = link_to "Mes offres", compagny_jobs_path(@compagny)
  = link_to "Creer un offre", new_compagny_job_path(@compagny)
  = link_to "Editer mon profil", edit_compagny_path(current_user.compagny)
  = link_to "retour à mon profil", compagny_path(current_user.compagny)
  = link_to "Candidature récent"
  = link_to "tout les candidatures"
