- o = form.object
- n = fields_for
.nested_fields{:id => n}
  - new_item = o.send(n).send(:build)
  - o.send(n).each do |item|
    - index = Time.now.to_i.to_s
    - really_new = (item.new_record? and item == new_item)
    - my_dom_id = ((!item.new_record? or really_new) ? dom_id(item) : dom_class(item) + "_" + index)
    = item.class.human_name
    - form.fields_for n, item, :child_index => (item.new_record? ? my_dom_id : nil) do |n_form|
      = render :partial => "#{n.to_s}/form", :object => n_form
      - unless item.new_record?
  %p._delete_check_boxes.j_hide
    = n_form.label :_delete
    = n_form.check_box :_delete
  %p.j_unhide
    = link_to t(:delete), (really_new ? "##{dom_class(item)}_#{dom_id(item)}" : "##{my_dom_id}"), :class => "delete_#{item.new_record? ? "new_record_" : ""}links"
  = link_to t(:new_item, :item => new_item.class.human_name), "#new_#{dom_class(new_item)}", :class => "new_nested_fields_links"
