<h1>Editing essai</h1>

<% form_for(@essai) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :essai_name %><br />
    <%= f.text_field :essai_name %>
  </p>
  <p>
    <%= f.label :desc %><br />
    <%= f.text_area :desc %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @essai %> |
<%= link_to 'Back', essais_path %>