<h1>Listing essais</h1>

<table>
  <tr>
    <th>Essai name</th>
    <th>Desc</th>
  </tr>

<% @essais.each do |essai| %>
  <tr>
    <td><%=h essai.essai_name %></td>
    <td><%=h essai.desc %></td>
    <td><%= link_to 'Show', essai %></td>
    <td><%= link_to 'Edit', edit_essai_path(essai) %></td>
    <td><%= link_to 'Destroy', essai, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New essai', new_essai_path %>