<p>
  <b>Type:</b>
  <%=h @contact.type %>
</p>

<p>
  <b>Value:</b>
  <%=h @contact.value %>
</p>

<p>
  <b>Qualification:</b>
  <%=h @contact.qualification %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>