<p>
    <%= form.label :permalink %><br />
    <%= form.text_field :permalink %>
  </p>
  <p>
    <%= form.label :office_name %><br />
    <%= form.text_field :office_name %>
  </p>
  <p>
    <%= form.label :description %><br />
    <%= form.text_area :description %>
  </p>
  <p>
    <%= form.label :society_name %><br />
    <%= form.text_field :society_name %>
  </p>
  <p>
    <%= form.label :period %><br />
    <%= form.text_field :period %>
  </p>
  <p>
    <%= form.label :begin_at %><br />
    <%= form.date_select :begin_at %>
  </p>
  <p>
    <%= form.submit 'Create' %>
  </p>

