<h1>Editing experience</h1>

<% form_for([@experience.profile, @experince], :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>
  <%= render f%>
    <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @experience %> |
<%= link_to 'Back', experiences_path %>