<h1>Listing experiences</h1>

<table>
  <tr>
    <th>Permalink</th>
    <th>Office name</th>
    <th>Description</th>
    <th>Society name</th>
    <th>Period</th>
    <th>Begin at</th>
    <th>Profile</th>
  </tr>

<% @experiences.each do |experience| %>
  <tr>
    <td><%=h experience.permalink %></td>
    <td><%=h experience.office_name %></td>
    <td><%=h experience.description %></td>
    <td><%=h experience.society_name %></td>
    <td><%=h experience.period %></td>
    <td><%=h experience.begin_at %></td>
    <td><%=h experience.profile %></td>
    <td><%= link_to 'Show', experience %></td>
    <td><%= link_to 'Edit', edit_experience_path(experience) %></td>
    <td><%= link_to 'Destroy', experience, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New experience', new_experience_path %>