<h1>Listing experiences</h1>

<table>
  <tr>
    <th>Compagny</th>
    <th>Cv</th>
    <th>Jobtitle</th>
    <th>Job</th>
    <th>Duration</th>
    <th>Description</th>
  </tr>

<% @experiences.each do |experience| %>
  <tr>
    <td><%=h experience.compagny_id %></td>
    <td><%=h experience.cv_id %></td>
    <td><%=h experience.jobtitle %></td>
    <td><%=h experience.job_id %></td>
    <td><%=h experience.duration %></td>
    <td><%=h experience.description %></td>
    <td><%= link_to 'Show', experience %></td>
    <td><%= link_to 'Edit', edit_experience_path(experience) %></td>
    <td><%= link_to 'Destroy', experience, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New experience', new_experience_path %>