<p>
<%- unless current_user %>
<%- if cv.published == true %>
  <%=h cv.title %>
  <%=h cv.summary %>
  <%= link_to 'Show', cv %>
<% end %> 
<% else %>
  <% if belongs_to_user?(cv) || cv.published == true %>
    <%=h cv.title %>
    <%=h cv.summary %>
    <%= link_to 'Show', cv %>
  <% end %> 
 <% end %>
</p>
