<% @user = current_user %>
<%- unless !cv.published %>
  <%- if current_user && current_user.roles == "member" && !belongs_to_user?(cv)  %>
    <div class="photo" float="right">
       <%= image_tag fleximage_path(cv.civil_status)%>
       <%=h cv.title %>
       <%=h cv.summary %>
    </div>
  
    <div id = "field" >
      <%=h"Etude effectué "%>
      <%- cv.degree_courses.each do |dc| %>
      <p>
        <%= dc.field.field_name %>
      </p> 
     <% end %>
   </div>   
    <% @civil_status = cv.civil_status %>
    <%= link_to 'Show', civil_status_cv_path(@civil_status, cv) %>

  <% else %>
    <p>
      <%=h cv.title %>
      <%=h cv.summary %>
      <% @civil_status = cv.civil_status %>
      <%= link_to 'Show', civil_status_cv_path(@civil_status, cv) %>
    </p>
  <% end %>
<% end %>

