<div class="child">
  <p>
    DegreeCourse <%= f.label :degree_name %>
    <%= f.select :degree_name, DegreeCourse::Degree_Names %>
  </p>
  
  <p>
    <%= f.input :school %>
  </p>
  <p>
    DegreeCourse_field <%= f.select :field,  (DegreeCourse::Field ), {:multiple => true} %>
  </p>
  
  <p>
    <%= f.input :description, :input_html => {:cols => 50, :rows => '3'} %>
  </p>
  
  <p>
    <%= f.input :start_on, :start_year => 1960%>
  </p>
  
  <p>
    <%= f.input :end_on, :start_year => 1960 %>
  </p>
  
  <p>
    <%= f.hidden_field :_delete, :class => 'delete' %>
    <%= remove_child_link 'remove', f %>
  </p>
</div>
