<div class="child">
  <p>
    DegreeCourse <%= f.label :degree_name %>
    <%= f.text_field :degree_name %>
  </p>
  <p>
    DegreeCourse_field <%= f.text_field_with_auto_complete :field, {}, { :method => :get, :skip_style => true } %>
  </p>
    
  <p>
  DegreeCourse <%= f.label :description %>
  <br /><%= f.text_area :description, :cols => "50", :rows => "3" %>
  </p>
  <p>
    DegreeCourse <%= f.label :start_on %>
    <%= f.date_select :start_on %>
  </p>
  <p>
    DegreeCourse <%= f.label :end_on %>
    <%= f.date_select :end_on %>
  </p>
  <p>
    <%= f.hidden_field :_delete, :class => 'delete' %>
    <%= remove_child_link 'remove', f %>
  </p>
</div>
