<div class="child">
  <p>
    <%= f.input :degree_name, :collection => ["bac scientifique", "bac literaire","bac technique","formation", "bac + 1", "bac + 2", "license", "master M1", "master M2","DEA", "Phd" ] %>
  </p>
  
  <p>
    <%= f.input :school %>
  </p>
  
  <p>
  <%- f.fields_for :domain  do |domain| %>
    <%= domain.text_field_with_auto_complete :name, {}, {:method => :get, :skip_style => :true} %>
  <% end %>
  </p>
  
  <p>
    <%= f.input :description, :input_html => {:cols => 50, :rows => '3'} %>
  </p>
  
  <p>
    <%= f.input :start_on, :start_year => 1960%>
  </p>
  
  <p>
    <%= f.input :end_on, :start_year => 1960 %>
  </p>
  
  <p>
    <%= f.hidden_field :_delete, :class => 'delete' %>
    <%= remove_child_link 'remove', f %>
  </p>
</div>
