<div class="child">
  <p>
    <%= f.input :compagny  %>
  </p>
  
  <p>
    <%= f.input :jobtitle %>
  </p>
  
  <p>
    <%= f.input :description, :input_html => {:cols => 50, :rows => '3'} %>
  </p>
  
  <p>
    <%= f.input :duration %>
  </p>
 
  <p>
    <%= f.hidden_field :_delete, :class => 'delete' %>
    <%= remove_child_link 'remove', f %>
  </p>
</div>
