<%= f.error_messages %>

<p>
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :summary %><br />
  <%= f.text_area :summary %>
</p>


<div id='language_children'>
  <% f.fields_for :languages do |language_form| %>
    <%= render :partial => 'language', :locals => { :f => language_form } %>
  <% end %>
</div>


<p>
  <%= add_child_link 'Add Language', 'language', f %>
</p>

<div id='interest_children'>
  <% f.fields_for :interests do |interest_form| %>
    <%= render :partial => 'interest', :locals => { :f => interest_form } %>
  <% end %>
</div>


<p>
<%= add_child_link 'Add Interest', 'interest', f %>
</p>

<div id='other_skill_children'>
  <% f.fields_for :other_skills do |other_skill_form| %>
    <%= render :partial => 'other_skill', :locals => { :f => other_skill_form } %>
  <% end %>
</div>
<p>
<%= add_child_link 'Add Other_Skill', 'other_skill', f %>
</p>

<div id='degree_course'>
  <% f.fields_for :degree_courses do |degree_course_form| %>
    <%= render :partial => 'degree_course', :locals => { :f => degree_course_form } %>
  <% end %>
</div>
<p>
<%= add_child_link 'Add Degree_Course', 'degree_course', f %>
</p>




