<%= f.error_messages %>

<p>
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :summary %><br />
  <%= f.text_area :summary %>
</p>

<div id='qualification_children'>
  <% f.fields_for :qualifications do |qualification_form| %>
    <%= render :partial => 'qualification', :locals => { :f => qualification_form } %>
  <% end %>
</div>

<p>
  <%= add_child_link 'Add Qualification', 'qualification', f %>
</p>
