= f.error_messages
%p
  #form
    = f.input :title, :label => "Titre" 
    %br
    = f.input :summary, :input_html => {:cols => 50, :rows => '3'}, :label => "description"
    %br
    =f.label :summary
    = f.file_field :summary


#degree_course_children
  - f.fields_for :degree_courses do |degree_course_form|
    = render :partial => 'degree_course', :locals => { :f => degree_course_form }
%p
  .link_cv
    = add_child_link 'Add a DegreeCourse', 'degree_course', f

#experience_children
  - f.fields_for :experiences do |experience_form|
    = render :partial => 'experience', :locals => { :f => experience_form }
%p
  .link_cv
    = add_child_link 'Add a Experience', 'experience', f

#interest_children
  - f.fields_for :interests do |interest_form|
    = render :partial => 'interest', :locals => { :f => interest_form }
%p
  .link_cv
    = add_child_link 'Add a Interest', 'interest', f

#language_children
  - f.fields_for :languages do |language_form|
    = render :partial => 'language', :locals => { :f => language_form }
%p
  .link_cv
    = add_child_link 'Add a Language', 'language', f

#other_skill_children
  - f.fields_for :other_skills do |other_skill_form|
    = render :partial => 'other_skill', :locals => { :f => other_skill_form }
%p
  .link_cv
    = add_child_link 'Add a OtherSkill', 'other_skill', f
#publish
  = f.input :published, :as => :radio
 
