<div class= "child" >
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
 
  <p>
    <%= f.label :level %><br />
    <%= f.text_field :level %>
  </p>
  
  <p>
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </p>
  
  <p>
    <%= f.hidden_field :_destroy, :class => 'delete' %>
    <%= remove_child_link 'remove', f %>
  </p>
</div>
  


