<div class="child">
  <p>
    <%= f.label :title %>
    <%= f.select :title, Language::Titles %>
  </p>
    <p>
    Language <%= f.label :level %>
    <%= f.select :level, Language::Levels %>
  </p>
  <p>
    <%= f.hidden_field :_delete, :class => 'delete' %>
    <%= remove_child_link 'remove', f %>
  </p>
</div>
