<div class="child">
  <p>
    <%= f.label :title %><br />
    <%= f.select :title, Language::Titles %>
  </p>
   
  <p>
    <%= f.label :level %><br />
    <%= f.select :level, Language::Levels %>
  </p>
  
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
 
   
  <p>
    <%= f.hidden_field :_destroy, :class => 'delete' %>
    <%= remove_child_link 'remove', f %>
  </p>
</div>
  


