<div class="child">
  <p>
    OtherSkill <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    OtherSkill <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.hidden_field :_delete, :class => 'delete' %>
    <%= remove_child_link 'remove', f %>
  </p>
</div>
