- title " All CVS "
.results
  -unless @search.blank?
    -@search.results.each do |cv|
      .result
        %h1 = h(cv.title)
        %p = h(truncate(cv.summary))
    .pagination = will-paginate(@search.results)
- if current_user
  = render @cvs
- else 
  = link_to "se connecter", login_url
- unless current_user.blank?
  - if current_user.roles == "member" && !current_user.civil_status.blank?
    - @civil_status = current_user.civil_status
    = link_to 'Back', civil_status_path(@civil_status)
    = link_to 'New cv', new_civil_status_cv_path(@civil_status)
  - if current_user.roles == "compagny"
    = link_to "back", compagny_path(current_user.compagny)
  
