- title " All CVS "
-if @search
  = @search.total
  résultats
  - @search.results.each do |cv|
    = cv.title
    = link_to "plus de detail", cv_path(cv)

- if current_user && current_user.roles == "member" && !current_user.cvs.blank?
  = render @cvs
- if current_user && current_user.roles == "member" && current_user.civil_status.blank?
  ="vous ne diposez d'aucun CV pour l'instant!"

- if !current_user
  = "Si vous voulez déposer un cv ou une offre veuillez vous identifier ou devenez membre"
  = link_to "se connecter", login_url
  = link_to "devenir membre",new_user_path

- unless current_user.blank?
  - if current_user.roles == "member" && !current_user.civil_status.blank?
    - @civil_status = current_user.civil_status 
  - if current_user.roles == "compagny"
    = "rubrique compagny"
