<% title " All CVS " %>
<table>
  <tr>
    <th>Title</th>
    <th>Summary</th>
  </tr>

<% @allcv.each do |al| %>
    <%- if al.civil_status.blank? %>
      <%= "blank be!!"%>
    <%else %>
      <%= al.civil_status.name %>
      <%= al.title%> 
    <% end %>
<% end %>

<% @cvs.each do |cv| %>
  <tr>
    <td><%=h cv.title %></td>
    <td><%=h cv.summary %></td>
      <td><%= link_to 'Show', civil_status_cv_path(@civil_status, cv) %></td>
    <td><%= link_to 'Destroy', civil_status_cvs_path(cv), :confirm => 'Are you sure?', :method => :delete %></td>
     <td><%= link_to 'Edit', edit_civil_status_cv_path(@civil_status, cv) %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New cv', new_civil_status_cv_path(@civil_status) %>