<h1>Listing cvs</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Summary</th>
  </tr>

<% @cvs.each do |cv| %>
  <tr>
    <td><%=h cv.title %></td>
    <td><%=h cv.summary %></td>
    <td><%= link_to 'Show', cv %></td>
    <td><%= link_to 'Edit', edit_cv_path(cv) %></td>
    <td><%= link_to 'Destroy', cv, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
 <% end %>
    <%= will_paginate @cv_paginates%>
</table>

<br />

<%= link_to 'New cv', new_cv_path %>