<% title @cv.title %>
<p>
  <b>Title:</b>
  <%=h @cv.title %>

  <b>Summary:</b>
  <%=h @cv.summary %>
</p>

<div class="civil_status">
  <%- if @cv.civil_status_id.nil? %>
    <%= "civil status vide"%>
  <%- else %>
     <%= @cv.civil_status.family_name %>
     <%= @cv.civil_status.name %>
     <p>
       <%= @cv.civil_status.age %> ans
     </p>  
  <% end %>
</div>

<div class="degree_course" > 
  <%= render  @cv.degree_courses%>
</div>

<div class="experience" > 
  <%= render  @cv.experiences%>
</div>


<div class= "languages">
  <%= render @cv.languages%>
</div>

<div class= "interest">
  <%= render @cv.interests%>
</div>

<div class= "other_skill">
  <%= render @cv.other_skills%>
</div>


<%= link_to 'Edit', edit_cv_path(@cv) %> |
<%= link_to 'Back', cvs_path %>
