<p>
  <b>Title:</b>
  <%=h @cv.title %>
</p>

<p>
  <b>Summary:</b>
  <%=h @cv.summary %>
</p>

<div class="qualification" > 
  <%= render  @cv.qualifications%>
</div>

<div class= "languages">
  <%= render @cv.languages%>
</div>

<div class= "interest">
  <%= render @cv.interests%>
</div>

<div class= "other_skill">
  <%= render @cv.other_skills%>
</div>


<%= link_to 'Edit', edit_cv_path(@cv) %> |
<%= link_to 'Back', cvs_path %>
