<p>
<%- unless @cv.civil_status.blank? %> 
  <%= render @cv.civil_status %>
<% end %>

<b>Title:</b>
  <%=h @cv.title %>
</p>

<p>
  <b>Summary:</b>
  <%=h @cv.summary %>
</p>

<%= "Etude effectué: "%>
<% @degrees.each do |f|  %>
  <%= f.field.field_name %> 
<% end %>
<div class="child"
  >
   <%- unless @cv.degree_courses.blank? %>
      <h3> Degree_courses </h3> 
     <%= render @cv.degree_courses%>
   <% end %>  
</div>

<div class="child">
  <%- unless @cv.experiences.blank? %>
    <h3> Experiences </h3>
    <%= render @cv.experiences%>
  <% end %>  
</div>

<div class="child">
  <%- unless @cv.languages.blank? %>
    <h3> Languages </h3>
    <%= render @cv.languages%>
  <% end %>  
</div>

<div class="child">
 <%- unless @cv.other_skills.blank? %>
    <h3> Interests </h3> 
    <%= render @cv.interests%>
 <% end %>
  </div>

<div class="child">
  <%- unless @cv.other_skills.blank? %>
    <h3> Other Skills </h3>
    <%= render @cv.other_skills%>
  <% end %>
</div>
<% if current_user == @cv.civil_status.user %>
   <% @civil_status = current_user.civil_status %> 
   <%= link_to 'Edit', edit_civil_status_cv_path(@civil_status, @cv) %>
   <%= link_to 'Back', civil_status_cvs_path(@civil_status)%>
 <% else %>
  <%= link_to 'Back', root_path %>
<% end %>
