<p>
  <b>Title:</b>
  <%=h @cv.title %>
</p>

<p>
  <b>Summary:</b>
  <%=h @cv.summary %>
</p>

<div class="child">
   <h3> Degree Courses </h3> 
  <%= render @cv.degree_courses%>
</div>

<div class="child">
  <h3> Experiences </h3>
  <%= render @cv.experiences%>
</div>

<div class="child">
  <h3> Languages </h3>
  <%= render @cv.languages%>
</div>

<div class="child">
  <h3> Interests </h3> 
  <%= render @cv.interests%>
</div>

<div class="child">
  <h3> Other Skills </h3>
  <%= render @cv.other_skills%>
</div>

<%= link_to 'Edit', edit_cv_path(@cv) %> |
<%= link_to 'Back', cvs_path %>
