<h1>New job_sheet</h1>

<% form_for(@job_sheet) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </p>
  <p>
    <%= f.label :fields %><br />
    <%= f.text_field :fields %>
  </p>
  <p>
    <%= f.label :mission %><br />
    <%= f.text_field :mission %>
  </p>
  <p>
    <%= f.label :competence %><br />
    <%= f.text_field :competence %>
  </p>
  <p>
    <%= f.label :experience %><br />
    <%= f.text_field :experience %>
  </p>
  <p>
    <%= f.label :task %><br />
    <%= f.text_field :task %>
  </p>
  <p>
    <%= f.label :degree %><br />
    <%= f.text_field :degree %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', job_sheets_path %>