<p>
<%= form.label :name %>
<%= form.text_field :name %>
</p>
<p>
<%= form.label :permalink %>
<%= form.text_field :permalink %>
</p>
<p>
<%= form.label :description %>
<%= form.text_field :description %>
</p>
