<h1>Editing other_info</h1>

<% form_for([@other_info.profile, @other_info], :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>
  <%= render f%>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @other_info %> |
<%= link_to 'Back', other_infos_path %>