<h1>Listing other_infos</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Permalink</th>
    <th>Description</th>
    <th>Profile</th>
  </tr>

<% @other_infos.each do |other_info| %>
  <tr>
    <td><%=h other_info.name %></td>
    <td><%=h other_info.permalink %></td>
    <td><%=h other_info.description %></td>
    <td><%=h other_info.profile %></td>
    <td><%= link_to 'Show', other_info %></td>
    <td><%= link_to 'Edit', edit_other_info_path(other_info) %></td>
    <td><%= link_to 'Destroy', other_info, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New other_info', new_other_info_path %>