<div class 'degree_course'>
  <%= degree_course.school_id %>
  <%= degree_course.degree_name %>
  <%= degree_course.field %>
  <%= degree_course.description %>
  <%= degree_course.start_on %>
  <%= degree_course.end_on %>

</div>
