<p>
  <b>Degree name:</b>
  <%=h @degree_course.degree_name %>
</p>

<p>
  <b>Field:</b>
  <%=h @degree_course.field %>
</p>

<p>
  <b>Description:</b>
  <%=h @degree_course.description %>
</p>

<p>
  <b>Start on:</b>
  <%=h @degree_course.start_on %>
</p>

<p>
  <b>End on:</b>
  <%=h @degree_course.end_on %>
</p>


<%= link_to 'Edit', edit_degree_course_path(@degree_course) %> |
<%= link_to 'Back', degree_courses_path %>