<h1>Editing field</h1>

<% form_for @field do |f| %>
  <%= f.error_messages %>
  <%= f.text_field :field_name  %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @field %> |
<%= link_to 'Back', fields_path %>