#login
  -title "Login"
  - form_for @user_session do |f|
    = f.error_messages
    %p
      .label
        = f.label :username
      %br/
      = f.text_field :username
    %p
      .label
        = f.label :password
      %br/
      = f.password_field :password
    %p
      = f.submit "Log in"
  = "Inscrivez vous si vous n'avez pas encore un compte"
