%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    #head
      #title
        %a{ :href => "/" }
          %img.flex{ :title => "recherche emploi ?", :src => "/images/logo_blanc.png?1252593908", :alt => "Remby ?* par http://remby.com", :width => '13%'}/
        Une Plate-forme pour le travail à Madagascar!!
         
    = render :partial => 'shared/account'
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'prototype.js'
    = javascript_include_tag 'nested_attributes.js'
  %body    
    #banner 
      #navigation
        = render_navigation
      .search
        = render :partial => 'shared/search'
        %a{ :href => "/" }
          %img.flex{ :title => "recherche emploi ?", :src => "/images/abeille.gif?1252593908", :alt => "Remby ?* par http://remby.com"}/

    #contenu2
      .pagetitle
        = yield(:title)     
      = render :partial => 'shared/nav'
      %p
        = flash[:notice] 
      = yield

    #footer
      .about
        %h4 About
        Lorem ipsum dolor sit amet, 
        consetetur sadipscing elitr, 
      .contact_us
        %h4 Nous Contactez
        Lorem ipsum dolor sit amet, 
        consetetur sadipscing elitr, 
    #contentinfo
      \&copy;2010 remby.com &mdash; engineered by 
      %a{:href => "http://jojopil.com"} jojopil! Innovations
