<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>bienvenue <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag 'jquery' %>
  <script type="text/javascript">
    //<![CDATA[
          $(".button-to").each( function () {
            var link_text = $(this).find("input:submit").val();
            var link = $('<a href="#">' + link_text + "</a>");
            var form = $(this);
            $(this).hide();
            $(link).click( function() {
              $(form).find("input:submit").click();
              });
            $(this).before(link);
            });
var bind_delete_link = function () {
  $(".delete_new_record_links").click( function () {
      $($(this).attr("href")).remove();
      });
};
$(".delete_links").click( function () {
    $(this).parent("p").prev("p._delete_check_boxes").find("input:checkbox").remove();
    $(this).parent("p").prev("p._delete_check_boxes").find("input:hidden").val("1");
    $($(this).attr("href")).hide();
    });
bind_delete_link();
var prepare_nested_fields = function (where) {
  $(where).find(".nested_fields > .new_item").each( function () {
      var container = $(this);
      var item = container.attr("id").replace(new RegExp("new_(.*)", "g"), "$1");
      var my_link = $(this).parent("div").find(".new_nested_fields_links");
      my_link.show();
      my_link.click( function () {
        index = "" + new Date().getTime();
        dom_id = item + "_" + index;
        n_container = $(container).clone();
        n_container.toggleClass("new_item");
        n_container.attr("id", dom_id);
        n_container.html((n_container.html()).replace(new RegExp(container.attr("id"), "g"), index));
        $(n_container).find("input").removeAttr("disabled");
        $(n_container).find("select").removeAttr("disabled");
        $(n_container).find("textarea").removeAttr("disabled");
        $(this).before(n_container);
        prepare_nested_fields(n_container);
        n_container.show();
        bind_delete_link();
        $('#' + dom_id + ' select.autocomplete').select_autocomplete();
        });
      $(this).find("input").attr("disabled", "disabled");
      $(this).find("textarea").attr("disabled", "disabled");
      $(this).find("select").attr("disabled", "disabled");
      $(this).hide();
  });
};
prepare_nested_fields(document);
//]]>
  </script>
</head>
<body>
<div id="container">
  <div id="user_nav">
    <% if current_user %>
      <%= link_to "Edit Account", edit_user_path(:current) %>|
      <%= link_to "logout", logout_path %>
      <%= link_to "Edit Profile", new_profile_path %>
       
     <% else %>  
      <%= link_to "Register", new_user_path %> |
      <%= link_to "Login", login_path %>
    <% end %>
    </div>  
</div>
<p style="color: green"><%= flash[:notice] %></p>
<%= yield %>
</body>
</html>
