%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    #head
      #logo
        %a{ :href => "/" }
          %img.flex{ :title => "recherche emploi ?", :src => "/images/logo_blanc.png?1252593908", :alt => "Remby ?* par http://remby.com", :width => '13%'}/
        %img.flex{ :title => "Remby!", :src => "/images/ab2.gif?1252593908", :alt => "Remby ?* par http://remby.com"}/
        .pub
          %img.flex{ :title => "Remby!", :src => "/images/pub_remby.gif?1252593908", :alt => "Remby ?* par http://remby.com"}/
      #search
        = render :partial => 'shared/search'




    = stylesheet_link_tag 'application', 'formtastic', 'formtastic-changes', :cache => 'base'
    = javascript_include_tag 'prototype.js'
    = javascript_include_tag 'nested_attributes.js'
  %body    
    .navigation
      = render_navigation
      .account
        = render :partial => 'shared/account'
    #contenu2    
      .title
        = yield(:title) 
      .flash_notice
        = flash[:notice] 
      .nav
        = render :partial => 'shared/nav'
    #contenu3
      = yield
    .about
      %h4 À Propos
      %p
        Remby est une plate-forme pour l'emploi à Madagascar,
      %p
        une application web destinée à la publication des CV et 
        des offres d'emploi.
    .contact_us
      %h4 Nous Contactez
      %p
        Pour des suggestions, des remarques ou des commentaires :
      %p
        contactez nous au : +261 034 567 89 90, envoyez vos mails : Remby@gmail.com 
    
    .contentinfo
      \&copy;2010 remby.com &mdash; engineered by 
      %a{:href => "http://jojopil.com"} jojopil! Innovations
