%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    .title
      Le site de l'emploi à Madagascar - #{yield(:title) || "Remby: Online Cv and Jobs"}
      = render :partial => 'shared/account'
      #search 
        = render :partial => 'shared/search'
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'prototype.js'
    = javascript_include_tag 'nested_attributes.js'
  %body    
    #banner
      #banner1
        %a{ :href => "/" }
          %img.flex{ :title => "recherche emploi ?", :src => "/images/header-book.gif?1252593908", :alt => "Remby ?* par http://remby.com", :width => "220%"}/
    #contenu
      = flash[:notice]
      #navigation
        = render_navigation
      #contenu2
        #nav
          = render_navigation :renderer => :breadcrumbs, :join_with => " &gt; "
        = yield
    #footer
      #about
        %h4 About:
        Lorem ipsum dolor sit amet, 
        consetetur sadipscing elitr, 
        sed diam nonumyeirmod tempor 
        invidunt ut labore et dolore 
      #new
        %h4 Activité récente:
        Lorem ipsum dolor sit amet, 
        consetetur sadipscing elitr, 
        sed diam nonumyeirmod tempor 
        invidunt ut labore et dolore 
      #contact_us
        %h4 Nous Contactez:
        Lorem ipsum dolor sit amet, 
        consetetur sadipscing elitr, 
        sed diam nonumyeirmod tempor 
        invidunt ut labore et dolore 
    #contentinfo
      \&copy;2010 remby.com &mdash; engineered by 
      %a{:href => "http://jojopil.com"} jojopil! Innovations
